# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VOTACIONES en un Datasets.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)
- 3.4: En el caso de los votos, aplicar mayusculas a cada fila.
- 3.5 EL campo DNI debe ser del tipo INT.


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

## Punto 1: importacion del dataset con pandas
- Se importa la libreria pandas, luego se carga el archivo csv que contiene los datos de las votaciones en un dataframe

In [1]:
import pandas as pd
df = pd.read_csv("votaciones.csv")

## Punto 2: exploracion inicial de los datos
- Se utiliza df.head() para mostrar las primeras filas del dataframe
- Se utiliza df.info() para obtener tipos de datos y valores no nulos
- Se utiliza df.isnull().sum() para contar cuantos valores nulos hay por columna

In [5]:
df.head(20)

       nombre  apellido         dni     provincia  voto fecha_votacion
0     pánfilo     pombo  34787190.0  buenos aires  nulo     2024-11-22
1      albina   heredia  48336819.0      santa fe  nulo     2024-04-24
2         NaN    solano  49179364.0       neuquen  nulo     2024-05-20
3      salomé    barrio  43725639.0  buenos aires   NaN     05-06-2024
4      matías   esteban  30599927.0         chaco    no     10-07-2023
5         NaN      sosa  17014535.0      santa fe    sí     02-11-2024
6    gervasio       bou  33761658.0       mendoza    no     23-09-2023
7     brígida    angulo  22169546.0         chaco    no     2024-05-02
8      glauco     fabra         NaN       cordoba    sí     07-06-2023
9    trinidad   company  12192872.0       neuquen  nulo     30-10-2024
10   verónica    posada  35293135.0      santa fe    no     2024-09-15
11  anastasio    galvez  42313020.0      santa fe    no     01-11-2023
12        NaN    lastra  21680295.0         chaco  nulo     2025-04-26
13     otilia   fortuny         NaN      santa fe    no     2025-03-29
14   baudelio  sanabria  24036189.0       tucuman    no     2024-04-04
15   norberto     pinto  26760317.0           NaN  nulo            NaN
16     raquel       NaN  23274249.0      misiones  nulo     24-06-2023
17  juan josé    suarez  29043980.0      santa fe    no     23-10-2024
18     valero       NaN         NaN    corrientes    sí     2024-03-07
19     ramiro     checa  31711663.0         chaco    no     2024-08-25

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          91 non-null     object
 1   apellido        94 non-null     object
 2   dni             90 non-null     float64
 3   provincia       95 non-null     object
 4   voto            96 non-null     object
 5   fecha_votacion  95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.9+ KB

In [4]:
df.isnull().sum()

nombre            10
apellido           7
dni               11
provincia          6
voto               5
fecha_votacion     6
dtype: int64

## Punto 3: limpieza y normalizacion de los datos
- Se utiliza fillna() para reemplazar los Nan y luego mode() para calcular la moda de esas columnas y el inplace para que modifique el dataframe original
- Se utiliza dropna() para eliminar todas las filas que tengan al menos un NaN en cualquier columna
- Se utiliza to_datetime() para convertir fecha a tipo datetime y errors="coerce" para convertir los valores no validos en NaN
- Se utiliza astype(str) para convertir la columna a tipo string, str.title() para que cada palabra comience en mayuscula y str.strip() para eliminar espacios al principio y al final
- Se utiliza str.upper() para convertir los valores a mayusuculas
- Se utiliza astype(int) para convertir dni a tipo INT

In [ ]:
df["voto"].fillna(df["voto"].mode(), inplace=True)
df["nombre"].fillna(df["nombre"].mode(), inplace=True)
df["provincia"].fillna(df["provincia"].mode(), inplace=True)
df["dni"].fillna(df["dni"].mode(), inplace=True)
df["fecha_votacion"].fillna(df["fecha_votacion"].mode(), inplace=True)

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_15740\1626204526.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dni"].fillna(df["dni"].mode(), inplace=True)

In [17]:
df.head(20)

       nombre  apellido         dni     provincia  voto fecha_votacion
0     pánfilo     pombo  34787190.0  buenos aires  nulo     2024-11-22
1      albina   heredia  48336819.0      santa fe  nulo     2024-04-24
2         NaN    solano  49179364.0       neuquen  nulo     2024-05-20
3      salomé    barrio  43725639.0  buenos aires   NaN     05-06-2024
4      matías   esteban  30599927.0         chaco    no     10-07-2023
5         NaN      sosa  17014535.0      santa fe    sí     02-11-2024
6    gervasio       bou  33761658.0       mendoza    no     23-09-2023
7     brígida    angulo  22169546.0         chaco    no     2024-05-02
8      glauco     fabra  12345678.0       cordoba    sí     07-06-2023
9    trinidad   company  12192872.0       neuquen  nulo     30-10-2024
10   verónica    posada  35293135.0      santa fe    no     2024-09-15
11  anastasio    galvez  42313020.0      santa fe    no     01-11-2023
12        NaN    lastra  21680295.0         chaco  nulo     2025-04-26
13     otilia   fortuny  14649451.0      santa fe    no     2025-03-29
14   baudelio  sanabria  24036189.0       tucuman    no     2024-04-04
15   norberto     pinto  26760317.0           NaN  nulo            NaN
16     raquel       NaN  23274249.0      misiones  nulo     24-06-2023
17  juan josé    suarez  29043980.0      santa fe    no     23-10-2024
18     valero       NaN  17514893.0    corrientes    sí     2024-03-07
19     ramiro     checa  31711663.0         chaco    no     2024-08-25

In [18]:
df.dropna(inplace=True)

In [22]:
df.head(20)

         nombre   apellido         dni     provincia  voto fecha_votacion
0       pánfilo      pombo  34787190.0  buenos aires  nulo     2024-11-22
1        albina    heredia  48336819.0      santa fe  nulo     2024-04-24
4        matías    esteban  30599927.0         chaco    no     10-07-2023
6      gervasio        bou  33761658.0       mendoza    no     23-09-2023
7       brígida     angulo  22169546.0         chaco    no     2024-05-02
8        glauco      fabra  12345678.0       cordoba    sí     07-06-2023
9      trinidad    company  12192872.0       neuquen  nulo     30-10-2024
10     verónica     posada  35293135.0      santa fe    no     2024-09-15
11    anastasio     galvez  42313020.0      santa fe    no     01-11-2023
13       otilia    fortuny  14649451.0      santa fe    no     2025-03-29
14     baudelio   sanabria  24036189.0       tucuman    no     2024-04-04
17    juan josé     suarez  29043980.0      santa fe    no     23-10-2024
19       ramiro      checa  31711663.0         chaco    no     2024-08-25
24  encarnación      seguí  49044231.0       cordoba  nulo     26-11-2024
25      guiomar   aramburu  17514893.0    corrientes    sí     22-11-2024
26        nerea    fajardo  44318980.0    corrientes  nulo     2024-07-05
28      violeta     zamora  23310842.0         salta    no     19-11-2023
32        lucas       pozo  18472805.0       neuquen    sí     2024-05-03
36      roberto  sevillano  32940620.0       mendoza    sí     06-08-2024
37       rufino      jordá  25186385.0       cordoba    sí     2023-05-13

In [23]:
df["fecha_votacion"] = pd.to_datetime(df["fecha_votacion"], errors="coerce")

In [24]:
df.dtypes

nombre                    object
apellido                  object
dni                      float64
provincia                 object
voto                      object
fecha_votacion    datetime64[ns]
dtype: object

In [25]:
df["nombre"] = df["nombre"].astype(str).str.title().str.strip()
df["apellido"] = df["apellido"].astype(str).str.title().str.strip()

In [26]:
df.head()

     nombre apellido         dni     provincia  voto fecha_votacion
0   Pánfilo    Pombo  34787190.0  buenos aires  nulo     2024-11-22
1    Albina  Heredia  48336819.0      santa fe  nulo     2024-04-24
4    Matías  Esteban  30599927.0         chaco    no            NaT
6  Gervasio      Bou  33761658.0       mendoza    no            NaT
7   Brígida   Angulo  22169546.0         chaco    no     2024-05-02

In [27]:
df["voto"] = df["voto"].str.upper().str.strip()

In [38]:
df.head(20)

         nombre   apellido         dni     provincia  voto fecha_votacion
0       Pánfilo      Pombo  34787190.0  buenos aires  NULO     2024-11-22
1        Albina    Heredia  48336819.0      santa fe  NULO     2024-04-24
4        Matías    Esteban  30599927.0         chaco    NO     2023-09-19
6      Gervasio        Bou  33761658.0       mendoza    NO     2023-09-25
7       Brígida     Angulo  22169546.0         chaco    NO     2024-05-02
8        Glauco      Fabra  12345678.0       cordoba    SÍ     2023-09-27
9      Trinidad    Company  12192872.0       neuquen  NULO     2023-09-28
10     Verónica     Posada  35293135.0      santa fe    NO     2024-09-15
11    Anastasio     Galvez  42313020.0      santa fe    NO     2023-10-05
13       Otilia    Fortuny  14649451.0      santa fe    NO     2025-03-29
14     Baudelio   Sanabria  24036189.0       tucuman    NO     2024-04-04
17    Juan José     Suarez  29043980.0      santa fe    NO     2023-10-14
19       Ramiro      Checa  31711663.0         chaco    NO     2024-08-25
24  Encarnación      Seguí  49044231.0       cordoba  NULO     2024-08-25
25      Guiomar   Aramburu  17514893.0    corrientes    SÍ     2024-09-15
26        Nerea    Fajardo  44318980.0    corrientes  NULO     2024-07-05
28      Violeta     Zamora  23310842.0         salta    NO     2025-03-25
32        Lucas       Pozo  18472805.0       neuquen    SÍ     2024-05-03
36      Roberto  Sevillano  32940620.0       mendoza    SÍ            NaT
37       Rufino      Jordá  25186385.0       cordoba    SÍ     2023-05-13

In [31]:
df["fecha_votacion"].fillna(df["fecha_votacion"].mode(), inplace=True)

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_15740\2865080510.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fecha_votacion"].fillna(df["fecha_votacion"].mode(), inplace=True)

In [39]:
df.dropna(subset=["fecha_votacion"], inplace=True)

In [47]:
df.head(20)

         nombre  apellido       dni     provincia  voto fecha_votacion
0       Pánfilo     Pombo  34787190  buenos aires  NULO     2024-11-22
1        Albina   Heredia  48336819      santa fe  NULO     2024-04-24
4        Matías   Esteban  30599927         chaco    NO     2023-09-19
6      Gervasio       Bou  33761658       mendoza    NO     2023-09-25
7       Brígida    Angulo  22169546         chaco    NO     2024-05-02
8        Glauco     Fabra  12345678       cordoba    SÍ     2023-09-27
9      Trinidad   Company  12192872       neuquen  NULO     2023-09-28
10     Verónica    Posada  35293135      santa fe    NO     2024-09-15
11    Anastasio    Galvez  42313020      santa fe    NO     2023-10-05
13       Otilia   Fortuny  14649451      santa fe    NO     2025-03-29
14     Baudelio  Sanabria  24036189       tucuman    NO     2024-04-04
17    Juan José    Suarez  29043980      santa fe    NO     2023-10-14
19       Ramiro     Checa  31711663         chaco    NO     2024-08-25
24  Encarnación     Seguí  49044231       cordoba  NULO     2024-08-25
25      Guiomar  Aramburu  17514893    corrientes    SÍ     2024-09-15
26        Nerea   Fajardo  44318980    corrientes  NULO     2024-07-05
28      Violeta    Zamora  23310842         salta    NO     2025-03-25
32        Lucas      Pozo  18472805       neuquen    SÍ     2024-05-03
37       Rufino     Jordá  25186385       cordoba    SÍ     2023-05-13
40       Lupita     Prado  14649451       tucuman    SÍ     2023-09-27

In [42]:
df["dni"] = df["dni"].astype(int)

In [43]:
df.dtypes

nombre                    object
apellido                  object
dni                        int64
provincia                 object
voto                      object
fecha_votacion    datetime64[ns]
dtype: object

## Punto 4: obtencion de estadisticas descriptivas
- Se utiliza df.describe() para obtener un analisis estadistico de las columnas

In [44]:
df.describe()

                dni                 fecha_votacion
count  3.900000e+01                             39
mean   3.437874e+07  2024-02-07 06:09:13.846153728
min    1.122334e+07            2023-05-13 00:00:00
25%    1.799385e+07            2023-09-26 12:00:00
50%    2.904398e+07            2023-10-09 00:00:00
75%    4.331600e+07            2024-07-01 12:00:00
max    9.900112e+07            2025-03-29 00:00:00
std    2.257506e+07                            NaN